/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gettingStarted {
  margin-bottom: 1rem;      
  font-size: 1.125rem;      
  line-height: 2.75rem;     
  font-weight: 700;         
  letter-spacing: -0.01562em; 
  line-height: 1;          
  color: #fafbff;          
}
.terminalContainer{
  margin: 0 auto;
  display: inline-block;
}